<div class="panel panel-default">
    <div class="panel-heading" role="tab">
        <a href="{{ url_for('main.pipeline', pipeline_name="TODO") }}">
            <h4 class="panel-title">TODO</h4>
        </a>
        <p>last updated: TODO</p>

    </div>
</div>