<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="result{{ result['hash'] }}">
        <a href="{{ url_for('main.result', result_hash=result['hash']) }}">
            <h4 class="panel-title">{{ result['file_name']|truncate(20) }}</h4>
        </a>
        <p>MIME: {{ result['MIME'] }}</p>
        {% if result['tool'] is not none %}
            <p>tool: <a href="{{ url_for('main.tool', tool_name=result['tool']) }}">{{ result['tool'] }}</a></p>
        {% else %}
            <p>tool: {{ result['tool_not_found'] }} (not found in environment)</p>
        {% endif %}

        {% if result['sample'] is not none %}
            <p>source:  <a href="{{ url_for('main.sample', sample_hash=result['sample']) }}">{{ result['sample'] }}</a></p>
        {% else %}
            <p>source sample: {{ result['sample_not_found'] }} (not found in environment)</p>
        {% endif %}
        <p>size:  {{ result['file_size'] }} - last modified {{ result['modified'] }}</p>
    </div>
</div>