<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sample{{ sample['hash'] }}">
        <a href="{{ url_for('main.sample', sample_hash=sample['hash']) }}">
            <h4 class="panel-title">{{ sample['file_name'] }}</h4>
        </a>
            <a class="btn btn-primary pull-right"
                href="{{ url_for('main.sample_download', sample_hash=sample['hash']) }}"
                role="button">Download</a>
        <p>hash: {{ sample['hash'] }}</p>
        <p>MIME: {{ sample['MIME'] }}</p>
        <p>results:  {{ sample['log_count'] }} logs, {{ sample['artefact_count'] }} artefacts</p>
        <p>size:  {{ sample['file_size'] }} - last modified {{ sample['modified'] }}</p>
        {% if sample['results']|length > 0 %}
            <button class="btn btn-primary"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#preview{{ sample['hash'] }}"
                    id="btn{{ sample['hash'] }}">Preview</button>
        {% endif %}
    </div>

    <div class="panel-collapse collapse"
         role="tabpanel"
         aria-labelledby="sample{{ data['id'] }}"
         id="preview{{ data['id'] }}">
         <div class="panel-heading">
            <div class="panel-body">
                    {% for tool, results in sample['results'].items() %}
                        <h4>{{ tool }}</h4>
                        <p>results:</p>
                        {% for result in results %}
                            <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                                <a href="{{ url_for('main.result', result_hash=result) }}">
                                    <h4 class="panel-title">{{ metadata[results][result]['file_name'] }}</h4>
                                </a>
                                <p>size:  {{ metadata[results][result]['file_size'] }} - last modified {{metadata[results][result]['file_size'] }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
            </div>
         </div>
    </div>
</div>