<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="{{ sample['hash'] }}">
        <a href="{{ url_for('main.sample', sample_hash=sample['hash']) }}">
            <h4 class="panel-title">{{ sample['file_name']|truncate }}</h4>
        </a>
        <p>MIME: {{ sample['MIME'] }}</p>
        <p>results:  {{ sample['log_count'] }} logs, {{ sample['artefact_count'] }} artefacts<br />
        size:  {{ sample['file_size'] }} - last modified {{ sample['modified'] }}</p>

    </div>

</div>
