<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="{{ tool['tool_name'] }}">
        <a href="{{ url_for('main.tool', tool_name=tool['tool_name']) }}">
            <h4 class="panel-title">{{ tool['tool_name'] }}</h4>
        </a>
        <p>last updated: {{ tool['modified'] }}</p>

    </div>
</div>