{% extends 'bootstrap/base.html' %}

{% block title %}
      {% if title %}
      {{ title }} - CinCan
      {% else %}
      CinCan
      {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">CinCan</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.index') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('main.samples') }}">Samples</a></li>
                    <li><a href="{{ url_for('main.results') }}">Results</a></li>
                    <li><a href="{{ url_for('main.tools') }}">Tools</a></li>

                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">User management</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>

            </div>
            </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    {% block app_content %}{% endblock %}

    </div>
{% endblock %}
