{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <a href="samples"><h3>Samples</h3></a>
                <div class="panel-group">
                {% for sample in metadata['samples'].values() %}
                    {% include "previews/sample_preview.html" %}
                {% endfor %}
                </div>
                <a href="results"><h3>Results</h3></a>
                <div class="panel-group">
                {% for result in metadata['results'].values() %}
                    {% include "previews/result_preview.html" %}
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-5">
                <a href="tools"><h3>Tools</h3></a>
                <div class="panel-group">
                    {% for tool in metadata['tools'].values() %}
                        {% include "previews/tool_preview.html" %}
                    {% endfor %}
                </div>
                <a href="tools"><h3>Pipelines</h3></a>
                <div class="panel-group">

                </div>
            </div>

    </div>
</div>

{% endblock %}