{% extends "base.html" %}

{% block content %}
<div class="container w-75 pagination-centered">
    <div class="row justify-content-center">
        <!--{{ render }}-->
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ pipeline_name }}</h3>
            </div>
            <div class="panel-body">
                {% if metadata['contents'] != None %}
                    <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                        {% for line in metadata['contents'] %}
                            {{ line }}<br />
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
</div>


{% endblock %}
