{% extends "base.html" %}


{% block app_content %}
    <h3>Results</h3>
    <div class="row">
        <div class="panel-group col-sm-8" id="accordion" role="tablist" aria-multiselectable="true">
            {% for result in metadata['results'].values() %}
                {% include 'previews/result_expanded_preview.html' %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
