{% extends "base.html" %}


{% block app_content %}
    <h3>Samples</h3>
    <div class="row">
        <div class="panel-group col-sm-8" id="accordion" role="tablist" aria-multiselectable="true">
            {% for sample in metadata['samples'].values() %}
                {% include 'previews/sample_expanded_preview.html' %}
            {% endfor %}
        </div>

    </div>

{% endblock %}
