{% extends "base.html" %}

{% block content %}
<div class="container w-75">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ sample['file_name'] }}</h3>
            <p> SHA256 hash: {{ sample['hash'] }}</p>
            <p>MIME: {{ sample['MIME'] }}</p>
            <p>results:  {{ sample['log_count'] }} logs, {{ sample['artefact_count'] }} artefacts<br />
            size:  {{ sample['file_size'] }} - last modified {{ sample['modified'] }}</p>

            <a class="btn btn-primary"
                href="{{ url_for('main.sample_download', sample_hash=sample['hash']) }}"
                role="button">Download</a>
            <div class="panel-body">
                {% for tool, tool_data in tools.items() %}
                    <a href="{{ url_for('main.tool', tool_name=tool) }}"><h3>{{ tool }}</h3></a>

                    {% for result in results.values() %}
                        {% include 'previews/result_preview.html' %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
</div>
</div>

{% endblock %}
