{% extends "base.html" %}

{% block content %}
<div class="container w-75">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ tool['tool_name'] }}</h3>
            <div class="panel-body">
                {% if tool['contents'] != None %}
                    <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                        {% for line in tool['contents'] %}
                            {{ line }}<br />
                        {% endfor %}
                    </div>
                {% endif %}
                    <p>results:</p>
                    {% for result in results.values() %}
                        <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                            <a href="{{ url_for('main.result', result_hash=result['hash']) }}">
                                <h4 class="panel-title">{{ result['file_name'] }}</h4>
                            </a>
                            {% if result['sample'] is not none %}
                                <p>source:  { url_for('main.sample', sample_hash=result['sample']) }}</p>
                            {% else %}
                                <p>source sample: {{ result['sample_not_found'] }} (not found in environment)</p>
                            {% endif %}

                            <p>size:  {{ result['file_size'] }} - last modified {{ result['modified'] }}</p>
                        </div>

                    {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
