{% extends "base.html" %}


{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>Tools</h3>
                <div class="panel-group">
                    {% for tool_name, tool_data in tools.items() %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab"> <!-- id="sample data['id'] }}"-->
                                <a href="{{ url_for('main.tool', tool_name=tool_name) }}">
                                    <h4 class="panel-title">{{ tool_name }}</h4>
                                </a>
                                <p>last updated: {{ tool_data['updated'] }}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-5">
                <h3>Pipelines</h3>
                <div class="panel-group">
                    {% for pipeline in pipelines %}
                        <!--div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="sample{ data['id'] }}">
                                <a href=" url_for('main.pipeline', pipeline_name=pipeline) }}">
                                    <h4 class="panel-title"> pipeline }}</h4>
                                </a>
                                <p>last updated:  data['modified'] }}</p>

                            </div>
                        </div-->
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}
