{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container w-75 pagination-centered">
    <h3>Change password</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(password_form) }}
        </div>
    </div>
    {% if create_account_form is not none %}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(create_account_form) }}
            </div>
        </div>
    {% endif %}
    <h3>Change GitLab URI</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(gitlab_form) }}
        </div>
    </div>
</div>
{% endblock %}
